@use "../../../styles/global/variables" as v;
@use "../../../styles/global/mixins";

.h1 {
	@include mixins.h1-title(v.$mobile-max, var(--primary));
}

.h2 {
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}

.h3 {
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}
