@use "../../styles/global/variables" as v;

.switch {
     width: 40px;
     height: 25px;
     background: rgba(v.$main-background-dark, 0.4);
     display: flex;
     justify-content: flex-start;
     border-radius: 50px;
     padding: 5px;
     cursor: pointer;
  &__on {
     justify-content: flex-end;
   }
   &__dark{
     background: rgba(v.$main-background-light, 0.4);
   }
}

.handle {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 40px;
}
