// Fonts
$roboto-light-font: "Roboto-Light", "Arial", sans-serif;
$roboto-regular-font: "Roboto-Regular", "Arial", sans-serif;
$roboto-medium-font: "Roboto-Medium", "Arial", sans-serif;
$roboto-bold-font: "Roboto-Bold", "Arial", sans-serif;

// Line heights
$lh14: 14px;
$lh16: 16px;
$lh19: 19px;
$lh22: 22px;
$lh26: 26px;
$lh30: 30px;
$lh37: 37px;
$lh42: 42px;

// Font sizes
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs19: 19px;
$lh21: 21px;
$fs22: 22px;
$fs26: 26px;
$fs32: 32px;
$fs36: 36px;
